@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

 // 標題格式
 .title {
  text-align: center;
  position: relative;
  img {
    width: 60px;
    height: 40px;
    margin: 30px 10px 0;
    // border: 1px solid #000;
  }
  h1 {
    display: inline-block;
    vertical-align: 40%;
    color: #004884;
    font-weight: 300;
    // border: 1px solid #000;
  }
}

// Navbar Start
#navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 2;
  transition: 0.4s ease-out;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
  .link {
    float: left;
    padding-top: 22px;
    position: absolute;
    top: 0;
    left: calc(25% - 90px);
    transform: translatex(-50%);
  }
  .link ul {
    display: flex;
    list-style: none;
    li {
      overflow: hidden;
      .en,
      .ch {
        position: relative;
        transition: opacity 0.3s;
      }
      .en {
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        font-weight: 300;
      }
      .ch {
        position: absolute;
        top: 22px;
        opacity: 0;
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        font-weight: 600;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        padding: 0 15px;
        color: #004884;
        &:hover .en {
          opacity: 0;
        }
        &:hover .ch {
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }

  .brand a {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
    &:hover {
      opacity: 0.75;
    }
  }

  .icon {
    float: right;
    padding-right: 70px;
    position: absolute;
    right: 0;
    top: 54%;
    transform: translateY(-50%);
    img{
      width: 20px;
    }
    a {
      display: inline-block;
      padding: 0 10px 0;
      filter: opacity(100%);
      transition: 0.5s;
      &:hover {
        opacity: 0.4;
      }
    }
  }
  .order {
    float: right;
    position: absolute;
    right: 11%;
    top: 54%;
    transform: translateY(-50%);
    a {
      padding: 0 10px;
      img {
        display: inline-block;
        width: 22px;
        height: 22px;
        filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

  // &.scrolled {
    // height: 70px;
    // background: rgba(0, 0, 0, 0.2);
  // }

// navbar End



.banner {
  width: 100%;
  height: 300px;
  margin-top: 70px;
  background-image: url(./img/bannerrr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
}
.title {
  position: relative;
  .count {
      text-align: center;
      padding: 10px;
      h3 {
          display: inline-block;
          font-size: 16px;
          color: #004884;
          font-weight: 100;
          letter-spacing: 8px;
          padding-left: 8px;
      }
      .n-item {
          padding: 2px 8px;
          margin: 2px;
          border: 1px solid #6a89b9;
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
          color: #004884;
          border-radius: 3px;
          font-size: 18px;
          font-weight: bold;
          position: relative;
          span {
            display: inline-block;
            width: 22px;
            height: 1px;
            background-color: #999;
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            &:before {
              content:"";
              width: 3px;
              height: 3px;
              background-color: #888;
              position: absolute;
              top: -1px;
              left: -2px;
            }
            &:after {
              content:"";
              width: 3px;
              height: 3px;
              background-color: #888;
              position: absolute;
              top: -1px;
              right: -2px;
            }
          }
      }

      .n-item1 {
      &:hover {
        &:after {
          content: "0";
          width: 26px;
          height: 11.5px;
          background-color: white;
          border: 1px solid #6a89b9;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          position: absolute;
          top: 3px;
          left: -1px;
          transform: perspective(.10em) rotateX(-1deg);
          overflow: hidden;
        }
      }
    }

    .n-item2 {
      &:hover {
        &:after {
          content: "0";
          width: 26px;
          height: 11.5px;
          background-color: white;
          border: 1px solid #6a89b9;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          position: absolute;
          top: 3px;
          left: -1px;
          transform: perspective(.10em) rotateX(-1deg);
          overflow: hidden;
        }
      }
    }

    .n-item3 {
      &:hover {
        &:after {
          content: "9";
          width: 26px;
          height: 11.5px;
          background-color: white;
          border: 1px solid #6a89b9;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          position: absolute;
          top: 3px;
          left: -1px;
          transform: perspective(.10em) rotateX(-1deg);
          overflow: hidden;
        }
      }
    }

  }
}

.category {
  list-style: none;
  padding-left: 175px;
  padding-bottom: 100px;
  margin-top: 30px;
  li {
    padding-left: 30px;
    float: left;
    a {
      display: inline-block;
      text-decoration: none;
      color: #6a89b9;
      // border: 1px solid yellowgreen;
      position: relative;
      line-height: 40px;
      letter-spacing: 2px;
      &:hover {
        opacity: 0.8;
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #6a89b9;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all 0.3s;
      }
      &:hover:after {
        width: 100%;
        opacity: 0.8;
      }
    }
  }
  .active {
    color: #004884;
    position: relative;
    line-height: 40px;
    letter-spacing: 2px;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #004884;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.item-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 200px;
  .c-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 50px;
    position: relative;
    height: 370px;
    // background-color: #d7bfa4;
    background-color: white;
    transition: 0.5s;
    .shadow {
      position: absolute;
      background-color: #967754;
      opacity: 0.9;
      width: 100%;
      overflow: hidden;
      height: inherit;
      border-radius: 5px;
      top: 0;
      visibility: hidden;
      h6 {
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 50px;
      }
      p {
        color: white;
        font-size: 16px;
        padding: 30px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
      }
      .inner {
        position: absolute;
        left: 50%;
        bottom: 90px;
        transform: translate(-50%, 0);
      }
      .btn {
        border: 1px solid white;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 5px;
        background-color: #967754;
        color: white;
        transition: inherit;
        letter-spacing: 3px;
        cursor: pointer;
        &:hover {
          border-bottom: 5px solid #fbf7f0;
          transform: translate(0, -5px);
        }

        &:active {
          background-color: #fbf7f0;
          border: none;
          transform: translate(0, 0);
          color: #967754;
          transition: 0.05s;
        }
      }
    }
    &:hover {
      .shadow {
        visibility: visible;
      }
    }

    // item1
    .triangle {
      border-bottom: solid 50px transparent;
      border-right: solid 50px transparent;
      border-left: solid 50px #004884;
      border-top: solid 50px #004884;
      border-top-left-radius: 5px;
      height: 0px;
      width: 0px;
      h5 {
        color: white;
        font-size: 18px;
        margin-top: -40px;
        margin-left: -30px;
      }
    }
    img {
      display: inline-block;
      position: absolute;
      object-fit: contain;
      // border: 1px solid #000;
    }
    .pic1,
    .pic1-1 {
      width: 200px;
      height: 200px;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .pic1-1 {
      visibility: hidden;
    }
    .pic2 {
      width: 190px;
      height: 190px;
      top: 40px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic3 {
      width: 220px;
      height: 220px;
      top: 24px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic4 {
      width: 200px;
      height: 200px;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic5 {
      width: 200px;
      height: 200px;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic6 {
      width: 220px;
      height: 240px;
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic7 {
      width: 220px;
      height: 220px;
      top: 30px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic8 {
      width: 230px;
      height: 230px;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .pic9 {
      width: 220px;
      height: 220px;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    h3 {
      padding-left: 30px;
      margin-top: 160px;
      // color: #556f87;
      color: #004884;
      // opacity: 0.8;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 22px;
    }
    h4 {
      padding-left: 30px;
      color: #004884;
      opacity: 0.8;
      font-weight: bolder;
      font-size: 16px;
    }
    .favor {
      // transform: translate(250px,-20px);
      margin: 10px 0 0 30px;
      .f1 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #fecb6a;
        display: inline-block;
        margin-right: 5px;
        // &:hover {
        //     cursor: pointer;
        // }
      }
      .f1-1 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #513525;
        display: inline-block;
        // &:hover {
        //     cursor: pointer;
        // }
      }
      .f2 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #5f3b33;
        display: inline-block;
      }
      .f3 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #4d3024;
        display: inline-block;
      }
      .f4 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #fae87f;
        display: inline-block;
      }
      .f5 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #e9d58b;
        display: inline-block;
      }
      .f6 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #95603a;
        display: inline-block;
      }
      .f7 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #a3533b;
        display: inline-block;
      }
      .f8 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        // background-color: #a3533b;
        background-color: #9f350b;
        display: inline-block;
      }
      .f9 {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #35090a;
        display: inline-block;
      }
      // .selectf1 {
      //     border: 2px solid whitesmoke;
      // }
      // .selectf2 {
      //     border: 2px solid whitesmoke;
      // }
    }
  }
}


// sub-page 瑪德蓮
.section1-itemsub {
    height: 95vh;
    padding-top: 170px; //70px for navbar
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-item {
      // border: 1px solid #000;
      position: relative;
      .mainp-itemsub {
        // border: 1px solid #000;
        height: 400px;
        width: 400px;
        background-image: url(./img/itemTop.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
      }
      .mainp-itemsub-corna {
        // border: 1px solid #000;
        height: 400px;
        width: 400px;
        background-image: url(./img/corna-itemsub.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        position: relative;
        top: 10%;
      }
    .cate-itemsubg {
      position: fixed;
      top: 0;
      width: 50px;
      height: 120px;
      top: 170px;
      z-index: 3;
    }
    .cate-itemsub {
      display: inline-block;
      width: 50px;
      height: 120px;
      position: absolute;
      top: 0;
      left: -20px;
      background-color: #004884;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%) rotate(-135deg);
      }
      padding-left: 25px;
      transition: 0.3s;
      &:hover {
        transform: translateX(20px);
        cursor: pointer;
      }
      .text-cateisub{
        line-height: 26px;
        color: white;
        font-weight: 100;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cate-itemsubb {
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 120px;
      background-color: #6a89b9;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-left: 5px;
      font-weight: 100;
      .text-cateisub{
        line-height: 26px;
        color: white;
        font-weight: 100;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .cate-itemsub2 {
      top: 25%;
    }
    .cate-itemsub3 {
      top: 50%;
      height: 60px;
    }
    .cate-itemsub4 {
      top: 63%;
    }
      }
    .right-desc {
        padding-top: 50px;
        h2 {
            color: #004884;
            font-size: 30px;
            letter-spacing: 2px;
        }
        p {
            color: #6a89b9;
            margin-top: 10px;
            font-weight: 100;
        }
        h3 {
            color: #004884;
            opacity: 0.7;
            font-size: 32px;
            margin-top: 10px;
        }
    }
    .item-col {
        display: grid;
        grid-template-columns: 250px 250px;
        margin-top: 10px;
        // border: 1px solid #024679;
        .fav {
        // border: 1px solid #024679;
            h4 {
                color: #6a89b9;
                color: #004884;
                font-size: 18px;
                font-weight: 100;
                margin-bottom: 5px;
            }
            span {
                display: inline-block;
                border: 1px solid #004884;
                color: #004884;
                border-radius: 5px;
                padding: 4px 10px 6px;
                margin: 5px 10px 0 0;
                cursor: pointer;
                transition: 0.2s;
                // &:hover {
                //   background-color: #6a89b9;
                //   color: white;
                // }
            }
            .selectf1-itemsub {
              background-color: #6a89b9;
              background-color: #004884;
              color: white;
            }
            .selectf2-itemsub {
              background-color: #6a89b9;
              background-color: #004884;
              color: white;
            }
        }
        .num {
          position: relative;
          h4 {
                color: #004884;
                font-size: 18px;
                font-weight: 100;
                margin-bottom: 11px;
            }
            .minus {
                display: inline-block;
                position: relative;
                width: 30px;
                height: 30px;
                border: 1px solid #6a89b9;
                border-radius: 50%;
                cursor: pointer;
                .m-inner {
                    display: inline-block;
                    width: 10px;
                    height: 2px;
                    background-color: #6a89b9;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .plus {
                display: inline-block;
                transform: translate(53px,0);
                position: relative;
                width: 30px;
                height: 30px;
                border: 1px solid #6a89b9;
                border-radius: 50%;
                cursor: pointer;
                .p-inner-1 {
                    display: inline-block;
                    width: 10px;
                    height: 2px;
                    background-color: #6a89b9;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .p-inner-2 {
                    display: inline-block;
                    width: 10px;
                    height: 2px;
                    background-color: #6a89b9;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(90deg);
                }
              }
              .count-itemsub {
                display: inline-block;
                width: 50px;
                text-align: center;
                color: #004884;
                position: absolute;
                margin-top: -5px;
                font-size: 24px;
                // border: 1px solid #000;
              }
        }
    }
    .item-bottom {
      display: inline-block;
      margin-top: 40px;
      .addToCart {
        color: #6a89b9;
        color: #004884;
        border: 1px solid #6a89b9;
        border: 1px solid #004884;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #6a89b9;
          background-color: #004884;
          color: white;
        }
      }
      .item-ingre {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
      .odinfo {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
      span {
        margin-right: 50px;
        color: #6a89b9;
        color: #004884;
      }
      .wrapper3-cart {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 300px 0;
        .box3-cart {
          width: 300px;
          height: 150px;
          background-color: #004884;
          margin: 0 auto;
          border-radius: 10px;
          box-shadow: 0 0 10px 5px rgba(0,72,132,0.3);
        }
        p {
          padding: 30px 0;
          text-align: center;
          color: white;
          letter-spacing: 3px;
          font-size: 18px;
        }
        .btn-cart-close {
          outline: none;
          border: 1px solid white;
          border-radius: 5px;
          padding: 10px 15px;
          background-color: transparent;
          color: white;
          font-size: 16px;
          letter-spacing: 5px;
          padding-left: 20px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          transition: inherit;
          cursor: pointer;
          &:hover {
            border-bottom: 3px solid white;
            transform: translate(-50%,-3px);
          }
          &:active {
            background-color: white;
            border: none;
            transform: translate(-50%, 0);
            color: #004884;
            font-size: 16px;
            letter-spacing: 5px;
            padding-left: 20px;
            transition: 0.05s;
          }
        }
      }
      .wrapper1-ingre, .wrapper2-odinfo {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 150px 0;
        .box1-ingre, .box2-odinfo{
          text-align: center;
          width: 500px;
          height: 300px;
          background-color: #004884;
          margin: 0 auto;
          border-radius: 10px;
          box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
          .box1-deco, .box2-deco {
            width: 500px;
            height: 75px;
            background-color: #f2efe9;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            position: relative;
            h1 {
              display: inline-block;
              color: #004884;
              font-weight: 300;
              line-height: 75px;
            }
            .item-close {
              display: inline-block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid #6a89b9;
              position: absolute;
              right: 20px;
              top: 20px;
              transition: 0.3s;
              &:hover {
                cursor: pointer;
                transform: rotate(180deg);
              }
              .isp1, .isp2 {
                display: inline-block;
                width: 15px;
                height: 3px;
                background-color: #6a89b9;
                border-radius: 3px;
              }
              .isp1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
              }
              .isp2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
              }
            }
          }
          p {
            padding: 30px 50px;
            line-height: 36px;
            color: white;
          }
        }
      }
      .wrapper2-odinfo p {
        text-align: left;
      }
      .row {
        width: 2px;
        height: 50px;
        border: 1px solid #6a89b9;
      }
    }
  }
  .hr {
    border: none;
    width: 100%;
    height: 2px;
    background-color: #004884;
    opacity: 0.3;
    margin: 10px;
  }

  .section2-itemsub {
    .sub-title {
      // color: #004884;
      text-align: center;
      font-size: 120px;
      color: rgb(243, 215, 132);
      opacity: 0.3;
      // -webkit-text-stroke: 1px #ebd5b3;
      // -webkit-text-fill-color: transparent;
      margin-top: 30px;
    }
    .sub-title-corna {
      text-align: center;
      font-size: 120px;
      color: #5f3b33;
      opacity: 0.3;
      margin-top: 30px;
    }
    .madeli-itempage-demo {
      margin-top: -10px;
      // margin-bottom: 150px;
      img {
        display: block;
        margin: 0 auto 100px;
        width: 400px;
        height: 400px;
        object-fit: cover;
      }
    }
    
    .madeli-itempage {
      // border: 1px solid #000;
      text-align: center;
      margin-bottom: 125px;
      position: relative;
      img {
        width: 300px;
        height: 300px;
      }
      .ip1-itempage {
        display: inline-block;
        color: #004884;
        position: absolute;
        top: 15%;
        left: 65%;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: 5px;
        padding-left: 5px;
      }
      .ip1-itempage-corna {
        left: 67%;
        top: 18%;
      }

      // Item-text
      .it1-itempage, .it2-itempage {
        display: inline-block;
        color: #004884;
        font-size: 20px;
        letter-spacing: 10px;
        padding-left: 10px;
        position: absolute;
      }
      .it1-itempage{
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
      }
      .it2-itempage{
        top: 50%;
        left: 66%;
        transform: translate(-50%,-50%);
      }

      // item-line
      .il1-itempage {
        display: inline-block;
        width: 125px;
        height: 1px;
        background-color: #004884;
        position: absolute;
        top: 35%;
        left: 55%;
        transform: rotate(-15deg);
      }
      .il1-itempage-corna {
        left: 57%;
      }
      .il2-itempage {
        display: inline-block;
        width: 200px;
        height: 1px;
        // background-color: #004884;
        border-top: 10px dotted #004884;
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
      }
      .il2-itempage-corna {
        width: 200px;
        border-top: 12px dotted #004884;
        top: -10px;
      }
      .il3-itempage {
        display: inline-block;
        width: 1px;
        height: 275px;
        // background-color: #004884;
        border-right: 10px dotted #004884;
        position: absolute;
        top: 5%;
        left: 61%;
      }
    }
    .corna-itempage {
      img {
        width: 250px;
        height: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    .madeli-itempage-wrap {
      position: relative;
    }
  }
.item-box-wrapper {
  position: relative;

}

// Back To Top
.backToTop {
  display: inline-block;
  width: 70px;
  height: 50px;
  background-color: #004884;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: -20px;
  // bottom: -80px;
  bottom: 230px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: translateX(-20px);
  }
  .backText {
    color: white;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 3px;
    padding-right: 9px;
  }
  .backArr {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: 46%;
    right: 5px;
  }
}


// 109/11/10 Loading animation

// loading wrapper
#wrapper {
  overflow: hidden;
  // display: none;
}

// loading CSS
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    // position: fixed;
    // overflow: hidden;
  }
  .loader {
    position: relative;
    display: inline-block;
/*   width: 100%; */
/*   height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 150px;
  /*   border: 1px solid green; */
    
  }
  .loader span {
     width: 15px;
     height: 15px;
     display: inline-block;
     position: absolute;
     border-radius: 300px;
  /*    border: 1px solid #000; */
  /*    display: flex; */
  /*    justify-content: center; */
  /*    align-items: center; */
     animation-timing-function: ease-in-out;
  }
  
  .loader span:nth-child(1) {
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    border: 1px solid #004884;
    animation: load1 1s, move 1.5s 1s;
    animation-fill-mode: forwards;
  }
  
  /* .loader span:nth-child(2) { */
  /*   top: 50%; */
  /*   left: 50%; */
  /*   transform: translate(-50%,-50%); */
  /*    border: 1px solid #004884; */
  /*    animation: load2 2s infinite alternate; */
  /* } */
  
  .loader span:nth-child(3) {
    right: 0px;
    top: 50%;
    transform: translate(0,-50%);
    border: 1px solid #004884;
    animation: load3 1s, move1 1.5s 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes load1 {
     0% {
       left: 50%;
  /*      transform: translate(-50%,-50%); */
       width: 1px;
       height: 1px;
       background-color: #004884;
    }
    20% {
      width: 10px;
      height: 5px;
    }
    40% {
      width: 35px;
      height: 35px;
    }
  
    60% {
      width: 40px;
      height: 40px;
    }
    75% {
      width: 50px;
      height: 50px;
    }
    100% {
      left: -30px;
      width: 50px;
      height: 50px;
    }
  }
  
  
  @keyframes load3 {
    0% {
      right: 50%;
  /*     transform: translate(50%,-50%); */
      width: 1px;
      height: 1px;
      background-color: #004884;
    }
    20% {
      width: 10px;
      height: 5px;
    }
    40% {
      width: 35px;
      height: 35px;
    }
  
    60% {
      width: 40px;
      height: 40px;
    }
    75% {
      width: 50px;
      height: 50px;
    }
    100% {
      right: -30px;
      width: 50px;
      height: 50px;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0,0);
    }
    10% {
      transform: translate(0,10px);
    }
    50% {
      transform: translate(0,30px);
    }
    100% {
      transform: translate(70px,-25px);
    }
  }
  
  @keyframes move1 {
    0% {
      transform: translate(0,-40px);
    }
    10% {
      transform: translate(0,-50px);
    }
    50% {
      transform: translate(0,-80px);
    }
    100% {
      transform: translate(-85px,-30px);
    }
  }



/* 頁尾 */
footer {
  padding: 30px 0 5px;
  background-color: #fbf7f0;
  margin-top: 50px;
  text-align: center;
  position: relative;

  .footer-block h4 {
    color: #004884;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3px;
    padding-left: 3px;
  }
  .icon img {
    width: 28px;
    display: inline-block;
    margin-top: 20px;
    // border: 1px solid #000;
  }
  .icon a {
    display: inline-block;
    padding: 0 10px 0;
    filter: opacity(100%);
    transition: 0.5s;
    &:hover {
      opacity: 0.4;
    }
  }
  hr {
    width: 100%;
    margin: 10px auto -10px;
    opacity: 0.3;
  }

  p {
    color: #004884;
    font-size: 14px;
    margin: 20px 0 5px;
  }
}