@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC";
}

.title {
  text-align: center;
  position: relative;
}

.title img {
  width: 60px;
  height: 40px;
  margin: 30px 10px 0;
}

.title h1 {
  display: inline-block;
  vertical-align: 40%;
  color: #004884;
  font-weight: 300;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 2;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

#navbar .link {
  float: left;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: calc(25% - 90px);
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

#navbar .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#navbar .link ul li {
  overflow: hidden;
}

#navbar .link ul li .en,
#navbar .link ul li .ch {
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#navbar .link ul li .en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 300;
}

#navbar .link ul li .ch {
  position: absolute;
  top: 22px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 600;
}

#navbar .link ul li a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: #004884;
}

#navbar .link ul li a:hover .en {
  opacity: 0;
}

#navbar .link ul li a:hover .ch {
  opacity: 1;
  z-index: 2;
}

#navbar .brand a {
  width: 75px;
  height: 75px;
  display: inline-block;
  background-image: url(./img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .brand a:hover {
  opacity: 0.75;
}

#navbar .icon {
  float: right;
  padding-right: 70px;
  position: absolute;
  right: 0;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#navbar .icon img {
  width: 20px;
}

#navbar .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .icon a:hover {
  opacity: 0.4;
}

#navbar .order {
  float: right;
  position: absolute;
  right: 11%;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#navbar .order a {
  padding: 0 10px;
}

#navbar .order a img {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
          filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .order a img:hover {
  opacity: 0.5;
}

.banner {
  width: 100%;
  height: 300px;
  margin-top: 70px;
  background-image: url(./img/bannerrr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  position: relative;
}

.title .count {
  text-align: center;
  padding: 10px;
}

.title .count h3 {
  display: inline-block;
  font-size: 16px;
  color: #004884;
  font-weight: 100;
  letter-spacing: 8px;
  padding-left: 8px;
}

.title .count .n-item {
  padding: 2px 8px;
  margin: 2px;
  border: 1px solid #6a89b9;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #004884;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.title .count .n-item span {
  display: inline-block;
  width: 22px;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.title .count .n-item span:before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #888;
  position: absolute;
  top: -1px;
  left: -2px;
}

.title .count .n-item span:after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #888;
  position: absolute;
  top: -1px;
  right: -2px;
}

.title .count .n-item1:hover:after {
  content: "0";
  width: 26px;
  height: 11.5px;
  background-color: white;
  border: 1px solid #6a89b9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  top: 3px;
  left: -1px;
  -webkit-transform: perspective(0.1em) rotateX(-1deg);
          transform: perspective(0.1em) rotateX(-1deg);
  overflow: hidden;
}

.title .count .n-item2:hover:after {
  content: "0";
  width: 26px;
  height: 11.5px;
  background-color: white;
  border: 1px solid #6a89b9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  top: 3px;
  left: -1px;
  -webkit-transform: perspective(0.1em) rotateX(-1deg);
          transform: perspective(0.1em) rotateX(-1deg);
  overflow: hidden;
}

.title .count .n-item3:hover:after {
  content: "9";
  width: 26px;
  height: 11.5px;
  background-color: white;
  border: 1px solid #6a89b9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  top: 3px;
  left: -1px;
  -webkit-transform: perspective(0.1em) rotateX(-1deg);
          transform: perspective(0.1em) rotateX(-1deg);
  overflow: hidden;
}

.category {
  list-style: none;
  padding-left: 175px;
  padding-bottom: 100px;
  margin-top: 30px;
}

.category li {
  padding-left: 30px;
  float: left;
}

.category li a {
  display: inline-block;
  text-decoration: none;
  color: #6a89b9;
  position: relative;
  line-height: 40px;
  letter-spacing: 2px;
}

.category li a:hover {
  opacity: 0.8;
}

.category li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #6a89b9;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category li a:hover:after {
  width: 100%;
  opacity: 0.8;
}

.category .active {
  color: #004884;
  position: relative;
  line-height: 40px;
  letter-spacing: 2px;
}

.category .active:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #004884;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 200px;
}

.item-box h1 {
  color: #004884;
  font-weight: 300;
  margin-bottom: 75px;
}

.item-box .c-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 50px;
  position: relative;
  height: 370px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-box .c-box .shadow {
  position: absolute;
  background-color: #967754;
  opacity: 0.9;
  width: 100%;
  overflow: hidden;
  height: inherit;
  border-radius: 5px;
  top: 0;
  visibility: hidden;
}

.item-box .c-box .shadow h6 {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}

.item-box .c-box .shadow p {
  color: white;
  font-size: 16px;
  padding: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.item-box .c-box .shadow .inner {
  position: absolute;
  left: 50%;
  bottom: 90px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .shadow .btn {
  border: 1px solid white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #967754;
  color: white;
  -webkit-transition: inherit;
  transition: inherit;
  letter-spacing: 3px;
  cursor: pointer;
}

.item-box .c-box .shadow .btn:hover {
  border-bottom: 5px solid #fbf7f0;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.item-box .c-box .shadow .btn:active {
  background-color: #fbf7f0;
  border: none;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  color: #967754;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.item-box .c-box:hover .shadow {
  visibility: visible;
}

.item-box .c-box .triangle {
  border-bottom: solid 50px transparent;
  border-right: solid 50px transparent;
  border-left: solid 50px #004884;
  border-top: solid 50px #004884;
  border-top-left-radius: 5px;
  height: 0px;
  width: 0px;
}

.item-box .c-box .triangle h5 {
  color: white;
  font-size: 18px;
  margin-top: -40px;
  margin-left: -30px;
}

.item-box .c-box img {
  display: inline-block;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-box .c-box .pic1,
.item-box .c-box .pic1-1 {
  width: 200px;
  height: 200px;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic1-1 {
  visibility: hidden;
}

.item-box .c-box .pic2 {
  width: 190px;
  height: 190px;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic3 {
  width: 220px;
  height: 220px;
  top: 24px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic4 {
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic5 {
  width: 200px;
  height: 200px;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic6 {
  width: 220px;
  height: 240px;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic7 {
  width: 220px;
  height: 220px;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic8 {
  width: 230px;
  height: 230px;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box .pic9 {
  width: 220px;
  height: 220px;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.item-box .c-box h3 {
  padding-left: 30px;
  margin-top: 160px;
  color: #004884;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 22px;
}

.item-box .c-box h4 {
  padding-left: 30px;
  color: #004884;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 16px;
}

.item-box .c-box .favor {
  margin: 10px 0 0 30px;
}

.item-box .c-box .favor .f1 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fecb6a;
  display: inline-block;
  margin-right: 5px;
}

.item-box .c-box .favor .f1-1 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #513525;
  display: inline-block;
}

.item-box .c-box .favor .f2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #5f3b33;
  display: inline-block;
}

.item-box .c-box .favor .f3 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #4d3024;
  display: inline-block;
}

.item-box .c-box .favor .f4 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fae87f;
  display: inline-block;
}

.item-box .c-box .favor .f5 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e9d58b;
  display: inline-block;
}

.item-box .c-box .favor .f6 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #95603a;
  display: inline-block;
}

.item-box .c-box .favor .f7 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #a3533b;
  display: inline-block;
}

.item-box .c-box .favor .f8 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #9f350b;
  display: inline-block;
}

.item-box .c-box .favor .f9 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #35090a;
  display: inline-block;
}

.item-box-set {
  margin-bottom: 150px;
}

.section1-itemsub {
  height: 95vh;
  padding-top: 170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section1-itemsub .left-item {
  position: relative;
}

.section1-itemsub .left-item .mainp-itemsub {
  height: 360px;
  width: 360px;
  background-image: url(./img/itemTop.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 6%;
}

.section1-itemsub .left-item .mainp-itemsub-corna {
  height: 380px;
  width: 380px;
  background-image: url(./img/corna-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 12%;
}

.section1-itemsub .left-item .mainp-itemsub-brown {
  height: 360px;
  width: 360px;
  background-image: url(./img/brown-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 12%;
}

.section1-itemsub .left-item .mainp-itemsub-lemon {
  height: 340px;
  width: 340px;
  background-image: url(./img/lemontart-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 16%;
}

.section1-itemsub .left-item .mainp-itemsub-chz {
  height: 340px;
  width: 340px;
  background-image: url(./img/cheese-itemsub1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 8%;
}

.section1-itemsub .left-item .mainp-itemsub-chochz {
  height: 380px;
  width: 380px;
  background-image: url(./img/chocchz-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 8%;
}

.section1-itemsub .left-item .mainp-itemsub-misu {
  height: 340px;
  width: 340px;
  background-image: url(./img/misu-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 8%;
  left: 12%;
}

.section1-itemsub .left-item .mainp-itemsub-6choco {
  height: 340px;
  width: 340px;
  background-image: url(./img/choco6-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 8%;
}

.section1-itemsub .left-item .mainp-itemsub-black6 {
  height: 340px;
  width: 340px;
  background-image: url(./img/black-itemsub.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 8%;
}

.section1-itemsub .left-item .cate-itemsubg {
  position: fixed;
  top: 0;
  width: 50px;
  height: 120px;
  top: 170px;
  z-index: 3;
}

.section1-itemsub .left-item .cate-itemsub {
  display: inline-block;
  width: 50px;
  height: 120px;
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #004884;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1-itemsub .left-item .cate-itemsub span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 6px;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.section1-itemsub .left-item .cate-itemsub:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  cursor: pointer;
}

.section1-itemsub .left-item .cate-itemsub .text-cateisub {
  line-height: 26px;
  color: white;
  font-weight: 100;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section1-itemsub .left-item .cate-itemsubb {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 120px;
  background-color: #6a89b9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
  font-weight: 100;
}

.section1-itemsub .left-item .cate-itemsubb .text-cateisub {
  line-height: 26px;
  color: white;
  font-weight: 100;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section1-itemsub .left-item .cate-itemsub2 {
  top: 25%;
}

.section1-itemsub .left-item .cate-itemsub3 {
  top: 50%;
  height: 60px;
}

.section1-itemsub .left-item .cate-itemsub4 {
  top: 63%;
}

.section1-itemsub .right-desc {
  padding-top: 50px;
}

.section1-itemsub .right-desc h2 {
  color: #004884;
  font-size: 30px;
  letter-spacing: 2px;
}

.section1-itemsub .right-desc p {
  color: #6a89b9;
  margin-top: 10px;
  font-weight: 100;
}

.section1-itemsub .right-desc h3 {
  color: #004884;
  opacity: 0.7;
  font-size: 32px;
  margin-top: 10px;
}

.section1-itemsub .item-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px;
      grid-template-columns: 250px 250px;
  margin-top: 10px;
}

.section1-itemsub .item-col .fav h4 {
  color: #6a89b9;
  color: #004884;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}

.section1-itemsub .item-col .fav span {
  display: inline-block;
  border: 1px solid #004884;
  color: #004884;
  border-radius: 5px;
  padding: 4px 10px 6px;
  margin: 5px 10px 0 0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section1-itemsub .item-col .fav .selectf1-itemsub {
  background-color: #6a89b9;
  background-color: #004884;
  color: white;
}

.section1-itemsub .item-col .fav .selectf2-itemsub {
  background-color: #6a89b9;
  background-color: #004884;
  color: white;
}

.section1-itemsub .item-col .num {
  position: relative;
}

.section1-itemsub .item-col .num h4 {
  color: #004884;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 11px;
}

.section1-itemsub .item-col .num .minus {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #6a89b9;
  border-radius: 50%;
  cursor: pointer;
}

.section1-itemsub .item-col .num .minus .m-inner {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #6a89b9;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1-itemsub .item-col .num .plus {
  display: inline-block;
  -webkit-transform: translate(53px, 0);
          transform: translate(53px, 0);
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #6a89b9;
  border-radius: 50%;
  cursor: pointer;
}

.section1-itemsub .item-col .num .plus .p-inner-1 {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #6a89b9;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1-itemsub .item-col .num .plus .p-inner-2 {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #6a89b9;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.section1-itemsub .item-col .num .count-itemsub {
  display: inline-block;
  width: 50px;
  text-align: center;
  color: #004884;
  position: absolute;
  margin-top: -5px;
  font-size: 24px;
}

.section1-itemsub .item-bottom {
  display: inline-block;
  margin-top: 40px;
}

.section1-itemsub .item-bottom .addToCart {
  color: #6a89b9;
  color: #004884;
  border: 1px solid #6a89b9;
  border: 1px solid #004884;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1-itemsub .item-bottom .addToCart:hover {
  background-color: #6a89b9;
  background-color: #004884;
  color: white;
}

.section1-itemsub .item-bottom .item-ingre {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1-itemsub .item-bottom .item-ingre:hover {
  cursor: pointer;
  opacity: 0.6;
}

.section1-itemsub .item-bottom .odinfo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1-itemsub .item-bottom .odinfo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.section1-itemsub .item-bottom span {
  margin-right: 50px;
  color: #6a89b9;
  color: #004884;
}

.section1-itemsub .item-bottom .wrapper3-cart {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 300px 0;
}

.section1-itemsub .item-bottom .wrapper3-cart .box3-cart {
  width: 300px;
  height: 150px;
  background-color: #004884;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 72, 132, 0.3);
          box-shadow: 0 0 10px 5px rgba(0, 72, 132, 0.3);
}

.section1-itemsub .item-bottom .wrapper3-cart p {
  padding: 30px 0;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-size: 18px;
}

.section1-itemsub .item-bottom .wrapper3-cart .btn-cart-close {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  letter-spacing: 5px;
  padding-left: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: inherit;
  transition: inherit;
  cursor: pointer;
}

.section1-itemsub .item-bottom .wrapper3-cart .btn-cart-close:hover {
  border-bottom: 3px solid white;
  -webkit-transform: translate(-50%, -3px);
          transform: translate(-50%, -3px);
}

.section1-itemsub .item-bottom .wrapper3-cart .btn-cart-close:active {
  background-color: white;
  border: none;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #004884;
  font-size: 16px;
  letter-spacing: 5px;
  padding-left: 20px;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.section1-itemsub .item-bottom .wrapper1-ingre, .section1-itemsub .item-bottom .wrapper2-odinfo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 150px 0;
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo {
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: #004884;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco {
  width: 500px;
  height: 75px;
  background-color: #f2efe9;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco h1, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco h1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco h1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco h1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco h1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco h1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco h1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco h1 {
  display: inline-block;
  color: #004884;
  font-weight: 300;
  line-height: 75px;
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #6a89b9;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close:hover, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close:hover {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close .isp2 {
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #6a89b9;
  border-radius: 3px;
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close .isp1, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close .isp1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre .box2-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box1-deco .item-close .isp2, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo .box2-deco .item-close .isp2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.section1-itemsub .item-bottom .wrapper1-ingre .box1-ingre p, .section1-itemsub .item-bottom .wrapper1-ingre .box2-odinfo p, .section1-itemsub .item-bottom .wrapper2-odinfo .box1-ingre p, .section1-itemsub .item-bottom .wrapper2-odinfo .box2-odinfo p {
  padding: 30px 50px;
  line-height: 36px;
  color: white;
}

.section1-itemsub .item-bottom .wrapper2-odinfo p {
  text-align: left;
}

.section1-itemsub .item-bottom .row {
  width: 2px;
  height: 50px;
  border: 1px solid #6a89b9;
}

.hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #004884;
  opacity: 0.3;
  margin: 10px;
}

.section2-itemsub .sub-title {
  text-align: center;
  font-size: 120px;
  color: #f3d784;
  opacity: 0.3;
  margin-top: 30px;
}

.section2-itemsub .sub-title-corna {
  color: #5f3b33;
}

.section2-itemsub .sub-title-brown {
  color: #4d3024;
}

.section2-itemsub .sub-title-lemon {
  color: #fae87f;
  opacity: 0.5;
}

.section2-itemsub .sub-title-chz {
  color: #e9d58b;
}

.section2-itemsub .sub-title-chochz {
  color: #95603a;
}

.section2-itemsub .sub-title-misu {
  color: #a3533b;
}

.section2-itemsub .sub-title-6choco {
  color: #9f350b;
}

.section2-itemsub .sub-title-6black {
  color: #35090a;
}

.section2-itemsub .madeli-itempage-demo {
  margin-top: -10px;
}

.section2-itemsub .madeli-itempage-demo img {
  display: block;
  margin: 0 auto 100px;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2-itemsub .corna-itempage-demo {
  margin-top: -50px;
}

.section2-itemsub .madeli-itempage {
  text-align: center;
  margin-bottom: 125px;
  position: relative;
}

.section2-itemsub .madeli-itempage img {
  width: 300px;
  height: 300px;
}

.section2-itemsub .madeli-itempage .ip1-itempage {
  display: inline-block;
  color: #004884;
  position: absolute;
  top: 15%;
  left: 65%;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 5px;
}

.section2-itemsub .madeli-itempage .ip1-itempage-corna {
  left: 67%;
  top: 18%;
}

.section2-itemsub .madeli-itempage .ip1-itempage-brown {
  left: 67%;
  top: 20%;
}

.section2-itemsub .madeli-itempage .ip1-itempage-lemon {
  left: 68%;
  top: 20%;
}

.section2-itemsub .madeli-itempage .ip2-itempage-lemon {
  left: 20%;
  top: 56%;
}

.section2-itemsub .madeli-itempage .ip1-itempage-chz {
  left: 70%;
  top: 12%;
}

.section2-itemsub .madeli-itempage .ip2-itempage-chz {
  left: 70%;
  top: 60%;
}

.section2-itemsub .madeli-itempage .ip1-itempage-chochz {
  left: 70%;
  top: 71%;
}

.section2-itemsub .madeli-itempage .ip2-itempage-chochz {
  left: 18%;
  top: 18%;
}

.section2-itemsub .madeli-itempage .ip1-itempage-misu {
  left: 66%;
  top: 56%;
}

.section2-itemsub .madeli-itempage .it1-itempage, .section2-itemsub .madeli-itempage .it2-itempage {
  display: inline-block;
  color: #004884;
  font-size: 20px;
  letter-spacing: 10px;
  padding-left: 10px;
  position: absolute;
}

.section2-itemsub .madeli-itempage .it1-itempage {
  top: -30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section2-itemsub .madeli-itempage .it1-itempage-corna {
  top: -16%;
}

.section2-itemsub .madeli-itempage .it1-itempage-brown {
  top: -22%;
}

.section2-itemsub .madeli-itempage .it1-itempage-lemon {
  top: -35%;
}

.section2-itemsub .madeli-itempage .it1-itempage-chz {
  top: -25%;
}

.section2-itemsub .madeli-itempage .it1-itempage-misu {
  top: -4%;
}

.section2-itemsub .madeli-itempage .it2-itempage {
  top: 50%;
  left: 66%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2-itemsub .madeli-itempage .it2-itempage-corna {
  left: 68%;
}

.section2-itemsub .madeli-itempage .it2-itempage-brown {
  top: 42%;
  left: 69%;
}

.section2-itemsub .madeli-itempage .it2-itempage-lemon {
  left: 69%;
}

.section2-itemsub .madeli-itempage .it2-itempage-chz {
  left: 71%;
}

.section2-itemsub .madeli-itempage .it2-itempage-misu {
  top: 56%;
  left: 68.5%;
}

.section2-itemsub .madeli-itempage .il1-itempage {
  display: inline-block;
  width: 125px;
  height: 1px;
  background-color: #004884;
  position: absolute;
  top: 35%;
  left: 55%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.section2-itemsub .madeli-itempage .il1-itempage-corna {
  left: 57%;
}

.section2-itemsub .madeli-itempage .il1-itempage-brown {
  left: 57%;
}

.section2-itemsub .madeli-itempage .il1-itempage-lemon {
  left: 58%;
}

.section2-itemsub .madeli-itempage .il1-itempage-chz {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  left: 60%;
  top: 30%;
}

.section2-itemsub .madeli-itempage .il1-itempage-chochz {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  left: 60%;
  top: 76%;
}

.section2-itemsub .madeli-itempage .il1-itempage-misu {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  left: 56%;
  top: 76%;
}

.section2-itemsub .madeli-itempage .il2-itempage {
  display: inline-block;
  width: 200px;
  height: 1px;
  border-top: 10px dotted #004884;
  position: absolute;
  top: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section2-itemsub .madeli-itempage .il2-itempage-corna {
  width: 200px;
  border-top: 12px dotted #004884;
  top: -10px;
}

.section2-itemsub .madeli-itempage .il2-itempage-brown {
  width: 280px;
  border-top: 12px dotted #004884;
  top: -14px;
}

.section2-itemsub .madeli-itempage .il2-itempage-lemon {
  width: 280px;
  border-top: 12px dotted #004884;
  top: -14px;
}

.section2-itemsub .madeli-itempage .il2-itempage-chz {
  width: 350px;
  border-top: 10px dotted #004884;
  top: -6%;
}

.section2-itemsub .madeli-itempage .il2-itempage-misu {
  width: 240px;
  border-top: 10px dotted #004884;
  top: 6%;
}

.section2-itemsub .madeli-itempage .il3-itempage {
  display: inline-block;
  width: 1px;
  height: 275px;
  border-right: 10px dotted #004884;
  position: absolute;
  top: 5%;
  left: 61%;
}

.section2-itemsub .madeli-itempage .il3-itempage-corna {
  height: 200px;
  border-right: 12px dotted #004884;
  top: 20%;
  left: 62%;
}

.section2-itemsub .madeli-itempage .il3-itempage-brown {
  height: 180px;
  border-right: 12px dotted #004884;
  top: 22%;
  left: 64%;
}

.section2-itemsub .madeli-itempage .il3-itempage-lemon {
  height: 50px;
  left: 64%;
  top: 39%;
}

.section2-itemsub .madeli-itempage .il3-itempage-chz {
  height: 180px;
  border-right: 10px dotted #004884;
  top: 18%;
  left: 66%;
}

.section2-itemsub .madeli-itempage .il3-itempage-misu {
  height: 300px;
  border-right: 10px dotted #004884;
  top: 30%;
  left: 63%;
}

.section2-itemsub .madeli-itempage .il4-itempage-lemon {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  left: 31.5%;
  top: 62%;
}

.section2-itemsub .madeli-itempage .il4-itempage-chz {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 72%;
  left: 60%;
}

.section2-itemsub .madeli-itempage .il4-itempage-chochz {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  left: 31.5%;
  top: 40%;
}

.section2-itemsub .corna-itempage img {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2-itemsub .brown-itempage img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2-itemsub .brown-itempage .brown-img {
  height: 220px;
}

.section2-itemsub .lemon-itempage img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2-itemsub .lemon-itempage .lemon-img {
  width: 300px;
  height: 84px;
}

.section2-itemsub .chz-itempage img {
  width: 350px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2-itemsub .chz-itempage .chz-img {
  width: 350px;
  height: 200px;
}

.section2-itemsub .chochz-itempage img {
  width: 350px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section2-itemsub .chochz-itempage .chochz-img {
  width: 350px;
  height: 200px;
}

.section2-itemsub .misu-itempage {
  margin-top: 50px;
}

.section2-itemsub .misu-itempage .misu-img {
  height: 430px;
  margin-top: 75px;
}

.section2-itemsub .choco6-itempage {
  margin-top: 50px;
}

.section2-itemsub .choco6-itempage img {
  height: 350px;
}

.section2-itemsub .black6-itempage {
  margin-top: 50px;
}

.section2-itemsub .black6-itempage img {
  height: 350px;
}

.section2-itemsub .madeli-itempage-wrap {
  position: relative;
}

.item-box-wrapper {
  position: relative;
}

.backToTop {
  display: inline-block;
  width: 70px;
  height: 50px;
  background-color: #004884;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: -20px;
  bottom: 230px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backToTop:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.backToTop .backText {
  color: white;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 3px;
  padding-right: 9px;
}

.backToTop .backArr {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 46%;
  right: 5px;
}

#wrapper {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.loader {
  position: relative;
  display: inline-block;
  /*   width: 100%; */
  /*   height: 100%; */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  width: 150px;
  /*   border: 1px solid green; */
}

.loader span {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  border-radius: 300px;
  /*    border: 1px solid #000; */
  /*    display: flex; */
  /*    justify-content: center; */
  /*    align-items: center; */
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.loader span:nth-child(1) {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1px solid #004884;
  -webkit-animation: load1 1s, move 1.5s 1s;
          animation: load1 1s, move 1.5s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* .loader span:nth-child(2) { */
/*   top: 50%; */
/*   left: 50%; */
/*   transform: translate(-50%,-50%); */
/*    border: 1px solid #004884; */
/*    animation: load2 2s infinite alternate; */
/* } */
.loader span:nth-child(3) {
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1px solid #004884;
  -webkit-animation: load3 1s, move1 1.5s 1s;
          animation: load3 1s, move1 1.5s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes load1 {
  0% {
    left: 50%;
    /*      transform: translate(-50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 35px;
    height: 35px;
  }
  60% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 50px;
    height: 50px;
  }
  100% {
    left: -30px;
    width: 50px;
    height: 50px;
  }
}

@keyframes load1 {
  0% {
    left: 50%;
    /*      transform: translate(-50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 35px;
    height: 35px;
  }
  60% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 50px;
    height: 50px;
  }
  100% {
    left: -30px;
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes load3 {
  0% {
    right: 50%;
    /*     transform: translate(50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 35px;
    height: 35px;
  }
  60% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 50px;
    height: 50px;
  }
  100% {
    right: -30px;
    width: 50px;
    height: 50px;
  }
}

@keyframes load3 {
  0% {
    right: 50%;
    /*     transform: translate(50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 35px;
    height: 35px;
  }
  60% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 50px;
    height: 50px;
  }
  100% {
    right: -30px;
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(70px, -25px);
            transform: translate(70px, -25px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(70px, -25px);
            transform: translate(70px, -25px);
  }
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  10% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  50% {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  100% {
    -webkit-transform: translate(-85px, -30px);
            transform: translate(-85px, -30px);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  10% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  50% {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  100% {
    -webkit-transform: translate(-85px, -30px);
            transform: translate(-85px, -30px);
  }
}

/* 頁尾 */
footer {
  padding: 30px 0 5px;
  background-color: #fbf7f0;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

footer .footer-block h4 {
  color: #004884;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-left: 3px;
}

footer .icon img {
  width: 28px;
  display: inline-block;
  margin-top: 20px;
}

footer .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .icon a:hover {
  opacity: 0.4;
}

footer hr {
  width: 100%;
  margin: 10px auto -10px;
  opacity: 0.3;
}

footer p {
  color: #004884;
  font-size: 14px;
  margin: 20px 0 5px;
}
/*# sourceMappingURL=style.css.map */